<div class="row">
  <div class="col-xs-6 col-md-3">
  <% @topics.each do |topic| %>
    <a href="/topics/<%= topic.id %>" class="thumbnail">
      <img src="<%= topic.img_url %>" alt="<%= topic.subject_name %>">
      <%= topic.subject_name %>
    </a>
      <% end %>
  </div>
