<div class="issues-container">
  <% @topics.each do |topic| %>
      <div class="thumbnail" style ="background-image:url(<%= topic.img_url %>)" alt="<%= topic.subject_name %>">
        <a href="/topics/<%= topic.id %>" class="subject-name">
          <%= topic.subject_name %>
      </div>
    </a>
      <% end %>
</div>
