<div class="issues-container">
  <% @topics.each do |topic| %>
        <a href="/topics/<%= topic.id %>" class="subject-name">
          <div class="thumbnail" style ="background: url('<%= topic.img_url %>') no-repeat" alt="<%= topic.subject_name %>" >
          <%= topic.subject_name %>
      </div>
    </a>
      <% end %>
</div>
