<header></header>
<div class="container">
    <main class="content">
        <h1>Choose A Baker</h1>
        <h2>To find recipes.</h2>
        <div class="bakercontainer">
            <% @bakers.each do |baker| %>
            <a href="/bakers/<%= baker.id %>">
                <img src="<%= baker.img_url %>" class="thumbnailHeadshot"/>
            </a>
            <% end %>
        </div>
    </main>
    <nav></nav>
    <aside></aside>
</div>
<footer></footer>


<!-- Index Layout -->
<!-- <body>
    <header></header>
    <div class="container">
        <main class="content">
            <h1>Choose A Baker</h1>
            <h2>To find recipes.</h2>
            <div class="bakercontainer">
                <img src="/assets/images/GBBS-Bio-Flora.jpg" alt="" class="headshot">
                <img src="/assets/images/GBBS-Bio-Marie.jpg" alt="" class="headshot">
                <img src="/assets/images/GBBS-Bio-Mat.jpg" alt="" class="headshot">
                <img src="/assets/images/GBBS-Bio-Nadiya.jpg" alt="" class="headshot">
                <img src="/assets/images/GBBS-Bio-Stuart.jpg" alt="" class="headshot">
                <img src="/assets/images/GBBS-Bio-Tamal.jpg" alt="" class="headshot">
            </div>
        </main>
        <nav></nav>
        <aside></aside>
    </div>
    <footer></footer>
</body> -->
