<header></header>
<div class="container">
    <main class="content">
        <h1>Choose A Baker</h1>
        <h2>To find recipes.</h2>
        <div class="bakercontainer">
            <% @bakers.each do |baker| %>
            <a href="/bakers/<%= baker.id %>">
                <img src="<%= baker.img_url %>" class="headshot"/>
            </a>
            <% end %>
        </div>
    </main>
    <nav></nav>
    <aside></aside>
</div>
<footer></footer>
