.nav-container {
  display: flex;
  justify-content: space-between;
  background-color: #BDEAF0;
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  height: 250px;
}

.nav-left{
  padding: 40px;
    font-size: 60px;
}

.nav-right{
  padding: 50px;
}

body{
  font-family: 'Karla', sans-serif;
  background-color: #F4F3F2;
}

h2{
  font-family: 'Karla', sans-serif;
  font-weight: 200;
  font-size: 24px;
  text-transform: lowercase;

}

h3{
  font-family: 'Karla', sans-serif;
  font-weight: 200;
  font-size: 32px;
}

.home-link{
  text-decoration: none;
  color: black;
}
.add-link{
  text-decoration: none;
}

.issues-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 10px;
    margin: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

.topic-container {
    padding: 10px;
    margin: 50px;
    margin-left: 400px;
    margin-right: 400px;
}
.thumbnail {
    display: flex;
    background-size: cover;
    height: 200px;
    width: 200px;
    flex-flow: row wrap;
    margin: 10px;
    align-items: center;
    justify-content: center;
    opacity: .7;
}

.subject-name {
  font-size: 24px;
  text-decoration: none;
  color: black;
  background-color: #F4F3F2;
}
